.header {
    background-color: #E9F3FF;
    top: 0;
    padding: 1rem 1.5rem;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #1f2937;
  color: #ffffff;
  padding: 1rem 1.5rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.headerTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.headerDescription {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.headerDescription:hover {
  opacity: 0.8;
}

.authorSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.authorImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

@media (max-width: 767px) {
  .authorImage {
    display: none;
  }
}

/*Desktop*/
@media (min-width: 768px) {
  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
