.heroContainer {
  width: 100%;
  background-color: #E9F3FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 3rem 8% 0;
}

.heroText {
  flex: 1;
  z-index: 10;
  color: #1f2937;
}

.heroTitle {
  margin: 0;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.HeroSearch {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}


.heroImage {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
}

/* Mobile */
@media (max-width: 767px) {
  .heroContainer {
    flex-direction: column;
    padding: 2.5rem 1.5rem 0;
  }
  .heroTitle {
    margin: 1.6rem;
    text-align: center;
  }
  .HeroSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heroText {
    margin-bottom: 5rem;
    width: 100%;
    align-items: center;
  }
  .heroImage {
    display: none;
  }
}
