.heroContainer {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroText {
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 30px;
  color: #1f2937;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.heroTitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

/* Tablet y superior */
@media (min-width: 768px) {
  .heroContainer {
    height: 400px;
  }

  .heroText {
    top: 120px;
    left: 50px;
  }

  .heroTitle {
    font-size: 2.5rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .heroContainer {
    height: 700px;
  }

  .heroText {
    top: 200px;
    left: 110px;
  }

  .heroTitle {
    font-size: 3rem;
  }
}
