.wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -10px;
  background-color: #E9F3FF;
}

.wave {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}

@media (min-width: 768px) {
  .wave-container {
    margin-top: -20px;
  }
  
  .wave {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .wave-container {
    margin-top: -20px;
  }

  .wave {
    height: 300px;
  }
}
